body {
    background: blue;
  }
intro{
  background-color: blueviolet;
  color:black;
}
history{
  background-color: blueviolet;
  color:black;
}
interests{
  background-color: blueviolet;
  color:black;
}